<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <!--link al the css files,bootstrap cdn link, fontawesome-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/732188d8b2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/details.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- <link rel="stylesheet" href="/css/style.css" />   -->
</head>

<body>
  <!-- navbar comes from partials file -->
  <%- include('../partials/navbar') %>
    <!-- booking section starts here -->
    <section class="booking">
      <!-- cards section starts here -->

      <div class="cards">
        <h2 class="px-5">
          <%=data.name%>
        </h2>
        <div class="booking-icon">
          <div class="booking-left">
            <b><span> <i class="fa-sharp fa-solid fa-star"></i>
                <a href="#"> 4.5 Reviews</a></span></b>
          </div>
          <div class="booking-right">
            <b><span> <i class="fa-solid fa-arrow-up-from-bracket"></i> <a href="#">Share </a> </span></b>
            <b><span> <i class="fa-regular fa-heart"></i> <a href="#"> Save</a></span></b>
          </div>
        </div>
      </div>
      <!-- imagegrid section starts here -->
      <p class="px-5"> <%=data.address.country%></p>
      <div class="imageGrid">
        <div class="item-1"> <img src="<%=data.images.picture_url%>" class="card-img-top" alt="..." /></div>
        <div class="item-2"> <img src="<%=data.images.picture_url%>" class="card-img-top" alt="..." /></div>
        <div class="item-3"> <img src="<%=data.images.picture_url%>" class="card-img-top" alt="..." /></div>
        <div class="item-4"> <img src="<%=data.images.picture_url%>" class="card-img-top" alt="..." /></div>
        <div class="item-5"> <img src="<%=data.images.picture_url%>" class="card-img-top" alt="..." /></div>
      </div>
      <!-- imagegrid section ends here -->
      <!-- about section starts here -->
      
      <div class="about">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-4 border-bottom"></div>
        <span>
          <h2><i class="fa-solid fa-house-user"></i>   About Home</h2>
        </span>
        <p>
          <%=data.space%>
        </p>
        <span>
          <h5><i class="fa-solid fa-building-wheat"></i>  Home Type:</h5>
        </span>
        <p>
          <%=data.property_type%>
        </p>
        <span>
          <h5><i class="fa-solid fa-restroom"></i>   Room Type:</h5>
        </span>
        <p>
          <%=data.room_type%>
        </p>
        <span>
          <h5><i class="fa-solid fa-moon"></i>   Minimum Nights:</h5>
        </span>
        <p>
          <%=data.minimum_nights%>
        </p>
         
        <span><h5><i class="fa-sharp fa-solid fa-street-view"></i> Overview:</h5></span>
         
        <p>
          <%=data.neighborhood_overview%>
        </p>
        <span>
          <h5><i class="fa-solid fa-file"></i>  Policy</h5>
        </span>
        <p>
          <%=data.cancellation_policy%>
        </p>
      </div>
      <!-- about section ends here -->
      <!-- review section starts here -->
      <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-4 border-bottom"></div>
      <div class="review">
        <div class="review-left">
          <div class="review_logo">
            <img src="https://a0.muscache.com/im/pictures/f4a1e0fb-bd06-4f11-91e3-8d3979d3431a.jpg" alt="airbnb logo" />
          </div>

          <h4>What this place offers</h4>
          <div class="offers">
            <span>
              <p><i class="fa-solid fa-eye"></i>
                <%=data.amenities[7]%>
            </span></p>
            <span>
              <p><i class="fa-solid fa-kitchen-set"></i>
                <%=data.amenities[1]%>
            </span> </p>
            <span>
              <p><i class="fa-solid fa-briefcase"></i>
                <%=data.amenities[2]%>
            </span></p>
            <span>
              <p><i class="fa-sharp fa-solid fa-building"></i>
                <%=data.amenities[3]%>
            </span> </p>
            <span>
              <p><i class="fa-solid fa-wifi"></i>
                <%=data.amenities[0]%>
            </span> </p>
            <span>
              <p><i class="fa-solid fa-umbrella-beach"></i>
                <%=data.amenities[4]%>
            </span> </p>
            <span>
              <p><i class="fa-sharp fa-solid fa-dog"></i>
                <%=data.amenities[5]%><span>
              </p>
          </div>
        </div>
        <div class="review-right">
          <!-- booking form section starts here -->
          <div class="reserved">
            <form name="myForm"  action="">
              <h3>Reserve Your Home.</h3>
              <p>Total price :<b>₹1,<%=data.price%></b></p>

              <div class="form-group">
                <input class="form-control" type="date"  name="fname"  required>
                <span   class="form-label">Check In</span>
              </div>
              <div class="form-group">
                <input class="form-control" type="date"   required>
                <span value="0" class="form-label">Check out</span>
              </div>
              <div class="form-group">
                <select class="form-control"   required>
                  <option value="0" selected hidden>no of rooms</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <span class="select-arrow"></span>
                <span class="form-label">Rooms</span>
              </div> 
              <div class="form-group">
                <select class="form-control" required>
                  <option value="0" selected hidden>no of adults</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <span class="select-arrow"></span>
                <span class="form-label">Adults</span>
              </div>
              <div class="form-btn">
                <button class="submit-btn" type="submit" onclick="validateForm()" id="form-submit">Reserve</button>
              </div>
          </div>
        </form>

         





        </div>
      </div>
      <!-- booking form section ends here -->
      <!-- map section starts here -->
      <!-- <div class="map">
        <h4>Where you'll be</h4>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26997.569128187726!2d77.16821237741158!3d32.2393471927919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390487e43618d477%3A0x972b830f6482e15d!2sThe%20Orchard%20Greens%20Resort%20%26%20Spa!5e0!3m2!1sen!2sin!4v1669803564436!5m2!1sen!2sin"
          width="95%" height="700" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> -->
      <!-- map section ends here -->
      <!-- footer section starts here -->
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Support</h5>
              <ul class="nav flex-column">
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Help Centre</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Aircover</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Supporting people with
                    disabilities.</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Our Covid-19 Response</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Report a neighbourhood
                    concern</a></li>
              </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
              <h5>Hosting</h5>
              <ul class="nav flex-column">
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Airbnb your Home</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Aircover for hosts</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Explore Hosting Resources</a>
                </li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Visit your community forum</a>
                </li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">How to host responsibly.</a></li>
              </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
              <h5>Airbnb</h5>
              <ul class="nav flex-column">
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Newsroom</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Learn about new features.</a>
                </li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Learn from our founders</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                <li class="nav-items mb-2"><a href="#" class="nav-link p-0 text-muted">Investors</a></li>
              </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our Airbnbnews.</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-danger" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>

          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Airbnb,Inc .Privacy .Terms .Sitemap .Company Details.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><i
                      class="fa-sharp fa-solid fa-globe"></i> </svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"> <i
                      class="fa-brands fa-twitter"></i></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"> <i
                      class="fa-brands fa-instagram"></i></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"> <i
                      class="fa-brands fa-facebook"></i></svg></a></li>
            </ul>
          </div>
        </footer>
        <!-- footer section ends here -->
      </div>
    </section>
    <!-- booking section ends here -->
    <!-- js starts here -->
    <script>
      function validateForm() {
  let x = document.forms["myForm"]["fname"].value;
  if (x == "") {
    alert("Please enter a Valid information ⚠️");
    return false;
  }else{
    alert("Your Booking is Succesfull 👍 ✅");
 
  }
} 
      </script>
     
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6e29967266.js" crossorigin="anonymous"></script>
    <!-- js ends here -->
</body>

</html>